%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy", {branch, master}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney", {branch, master}}},
        {lhttpc, ".*", {git, "git://github.com/eproxus/lhttpc", {branch, 'hint-encoding'}}}
       ]}.
